@model List<IPPrinterSiteVM>

@{
    var siteNewUrl = USBAdminHelp.WebHttpUrlPrefix + "/printer/siteNew";
    var siteEditUrl = USBAdminHelp.WebHttpUrlPrefix + "/printer/siteEdit";
    var siteDeleteUrl = USBAdminHelp.WebHttpUrlPrefix + "/printer/siteDelete";

    var addPrinterUrl = USBAdminHelp.WebHttpUrlPrefix + "/printer/siteAddPrinter";

    var siteList = Model;
}

<div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>Printer Site</legend>
    </fieldset>

    <div class="layui-input-inline">
        <button class="layui-btn" type="button" onclick="newSite()">
            <i class="layui-icon">&#xe654;</i> New Site
        </button>
    </div>

    <hr />
    @if (siteList != null && siteList.Count > 0)
    {
        <table id="index" lay-filter="index">
            <thead>
                <tr>
                    <th lay-data="{field:'siteName' ,width:150, sort: true}">SiteName</th>
                    <th lay-data="{field:'subnetAddr' ,width:150, sort: true}">Subnet</th>
                    <th lay-data="{field:'printerList' ,width:400 }">PrinterList</th>
                    <th lay-data="{field:'action' ,width:200, fixed:'right'}">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var site in siteList)
                {
                    <tr>
                        <td>@site.SiteName</td>
                        <td>@site.SubnetAddr</td>
                        <td>
                            @{
                                var printlist = site.PrinterList;
                                if (printlist != null || printlist.Count > 0)
                                {

                                    <ul>
                                        @foreach (var print in printlist)
                                        {
                                            <li>
                                                <a data-id="@print.Id" href="javescript:;" onclick="">
                                                    <span class="layui-font-blue">@print.PrinterName : @print.PortIPAddr</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                            }
                        </td>
                        <td>
                            <button data-id="@site.Id" type="button" class="layui-btn layui-btn-primary layui-border-blue layui-btn-sm">Edit</button>
                            <button data-id="@site.Id" type="button" class="layui-btn layui-btn-primary layui-border-blue layui-btn-sm">Add</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>
            @ViewBag.Error
        </div>
    }

</div>


@section Script{
    <script>
        layui.use(['form', 'table', 'miniTab', 'layer'], function () {
            var form = layui.form,
                table = layui.table,
                layer = layui.layer;
            //var miniTab = layui.miniTab;

            table.init('index');

            //miniTab.listen();
        });
    </script>

    <script>
        function newSite() {
            layer.open({
                type: 2,
                title: 'New Site',
                shade: 0.3,
                area: ['480px', '400px'],
                content: '@siteNewUrl',
                end: function () {
                    window.location.reload();
                }
            });
        }

        function editSite(btn) {
            let id = $(btn).attr('data-id');

            layer.open({
                type: 2,
                title: 'Edit',
                shade: 0.3,
                area: ['480px', '400px'],
                content: '@siteEditUrl' + '?Id=' + id,
                end: function () {
                    window.location.reload();
                }
            });
        }

        function deleteSite(btn) {
            layer.confirm('Delete ?', { icon: 3, title: 'Confirm' }, function (index) {
                let id = $(btn).attr('data-id');

                $.post('@siteDeleteUrl', { Id: id }, function (json) {
                    layer.alert(json.msg, { title: 'Message' });
                    window.location.reload();
                }, 'json');

                layer.close(index);
            });
        }
    </script>
}
